
@media screen 
and (max-width: 1023px) 
{

body { 
    --h1-margin-top: 8px;
    --h1-height: 50px;

    --h2-margin-top: 16px;
    --h2-height: 0px;

    --content-margin-top: 150px;

    --scroll-margin-top: calc(var(--content-margin-top) + 90px + 26px);

}
/* ======================================= */

h1 .ear:last-of-type {
    --origin-width: 104px;
    --origin-width-px: 104;
    --origin-url: url(assets/2022-12-17-Elki/logo_right.optimized.png);
    --origin-height-px: 104;
    --origin-basis-denominator: 1;
}
h1 .ear:last-of-type > div > div > div.clock {
    display: none !important;
}

h2 { 
    visibility: hidden;
    height: 0;
}

.пункт_программы.selected {
    background-color: var(--selection-color-dead);
}

.is_alive .пункт_программы.selected {
    background-color: var(--selection-color-alive);
}

.пункт_программы .row { 
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5em 1em;
}

.пункт_программы .row > * {
    border: none;
}

.пункт_программы .номер_пункта_программы {
    order: 1;
}
.пункт_программы .номер_пункта_программы:after {
    content: '.';
    margin-right: 0.5em;
}

.пункт_программы .начало {
    order: 2;
}
.пункт_программы .начало:after {
    margin-left: 0.2em;
    content: '➜';
    margin-right: 0.2em;
}

.пункт_программы .окончание {
    order: 3;
    width: auto;
}

.пункт_программы .break-1 {
    order: 4;
    flex-basis: 100%;
    height: 0px;
    display: block;
}

.пункт_программы .тур {
    order: 5;
    margin-right: 0.5em;
    width: auto;
}

.пункт_программы .категория { /* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
    order: 6;
    width: auto;
}

.пункт_программы .break-2 {
    order: 7;
    flex-basis: 100%;
    height: 0px;
    display: block;
}

.пункт_программы .заходы:before {
    content: var(--заходы-caption) ':';
    margin-right: 0.2em;
}
.пункт_программы .заходы {
    order: 8;
    width: auto;
}
.пункт_программы .заходы:after {
    content: ';';
}


.пункт_программы .количество_пар:before {
    content: var(--количество_пар-caption) ':';
    margin-left: 0.2em;
}
.пункт_программы .количество_пар {
    order: 9;
    width: auto;
}

.пункт_программы .танец:before {
    content: '; танцы:';
    margin-right: 0.2em
}
.пункт_программы .танец {
    order: 10;
    width: auto;
}

.пункт_программы .программа, 
.пункт_программы .тур:empty,
.пункт_программы .танец:empty,
.пункт_программы .время
{
    display: none;
}

}
